.mylingva-context-popup:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #c2e1f5;
  border-width: 36px;
  margin-left: -36px;
}

div.mylingva-context-popup {
  border: 1px #ABABAB !important;
  border-radius: 5px !important;
  background: rgba(210,210,210,0.95) !important;
  position: absolute;
  padding-left: 5px !important;
  padding-right: 5px !important;
  visibility: visible;
  z-index: 10000000000; /* Really want to be on the top. */
}

.mylingva-status-button {
  height: 1em;
  width: 1em;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
}

.mylingva-selected-word {
  text-shadow: 3px 1px 4px #7A8A85;
}

span.mylingva-known-word {
  color: black !important;
}

span.mylingva-unknown-word {
  color: orangered !important;
}

span.mylingva-familiar-word {
  color: firebrick !important;
}

span.mylingva-ignored-word {
  color: darkslategray !important;
}

/* Reset css properties that might be set by the host page. */
.mylingva-menu * {
  color: initial;
  background-color: initial;
  padding: initial;
  margin: initial;
  position: initial;
}

.mylingva-menu {
  z-index: 10000000000; /* Really want to be on the top. */
  position: fixed;
  right: 0;
  top: 0;
  border:1px #ABABAB !important;
  border-radius: 20px !important;
  background: rgba(210,210,210,0.95) !important;
  padding: 10px !important;
  margin: 2px !important;
}