.mylingva-context-popup:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #c2e1f5;
	border-width: 36px;
	margin-left: -36px;
}

div.mylingva-context-popup {
  border:1px #ABABAB;
  border-radius: 20px;
  background: rgba(210,210,210,0.95);
  position:absolute;
  line-height:30px;
  padding-left: 10px;
  padding-right: 10px;
  visibility: visible;
}

.mylingva-small-text {
	display: block;
	color: full black;
	font-size: 13px;
	padding-top: 5px;
}

.mylingva-status-button {
	height: 20px;
	width: 20px;
	padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
}

.mylingva-selected-word {
  text-shadow: 3px 1px 4px #7A8A85;
}

span.mylingva-known-word {
  color: black !important;
}

span.mylingva-unknown-word {
  color: orangered !important;
}

span.mylingva-familiar-word {
  color: firebrick !important;
}

span.mylingva-ignored-word {
  color: darkslategray !important;
}

/* Reset css properties that might be set by the host page. */
.mylingva-menu * {
  color: initial;
  background-color: initial;
  padding: initial;
  margin: initial;
  position: initial;
}

.mylingva-menu {
  z-index: 10000000000; /* Really want to be on the top. */
  position: fixed;
  right: 0;
  top: 0;
  background-color: white;
  border: 1px grey solid;
  padding: 2px;
  margin: 2px;
}