<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>My Lingva settings</title>
    <link rel="stylesheet" type="text/css" href="/host/ui/options.css">
    <script src="/libs/angular.js"></script>
    <script src="/common/models.js"></script>
    <script src="/host/localdb.js"></script>
    <script src="/host/ui/options.js"></script>
</head>
<body ng-app="mylingva-options" class="mylingva" ng-controller="SettingsCnt">
<div class="bar">
  <h2>MyLingva dictionary</h2>
  <label for="lang">By language:</label>
  <select id="lang" ng-model="langs.selected"
          ng-options="lang.id as lang.name for lang in langs.used">
    <option value="">&lt;All&gt;</option>
  </select>

  <label>Search:</label>
  <input type="text" ng-model="words.filter.$"
         ng-model-options="{ updateOn: 'default blur', debounce: { default: 300, blur: 0 } }">
</div>
<table class="words">
  <thead>
    <tr>
      <th class="header col-lang">Lang</th>
      <th class="header col-word">Word</th>
      <th class="header col-status">Familiarity</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="word in words.list | filter:words.filter" class="word-row"
        ng-class="{'even': $even}">
      <td class="cell" col-lang>{{langs.toName(word.lang)}}</td>
      <td class="cell col-word">{{word.word}}</td>
      <td class="cell col-status">{{statusToName(word.status)}}</td>
    </tr>
  </tbody>
</table>
</body>
</html>